<section id="dishes" class="section">
    <div style="padding: 30px;">
        <h2>Color Change Theme</h2>
        <div style="display: flex;">
            <ul style="display: flex; list-style: none;">
                <li>
                    <button onclick="greenTheme()">green theme</button>
                </li>
    
                <li>
                    <button onclick="redTheme()">red theme</button>
                </li>
    
                <li>
                    <button onclick="blueTheme()">blue theme</button>
                </li>
    
                <li>
                    <button onclick="yellowTheme()">yellow theme</button>
                </li>
    
                <li>
                    <button onclick="blackTheme()">black theme</button>
                </li>
            </ul>
        </div>
        <canvas id="canvas"></canvas>
    </div>
    
    <div style="padding: 50px;">
        <button onclick="newTheme()">new theme</button>
        <canvas id='c' style='margin-top: 20px; height: 300px; width: 100%; background:#66f805;'></canvas>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/2.0.0/trianglify.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/trianglify/3.0.0/trianglify.min.js" integrity="sha512-rjQcHsP3OLGWVRNiLLBeupOT+luccTXECmZvxA4jc9uZfBr/qkML4uTGqQbypT3YZ5psW9C/SQUolxFjx6mxwg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
</section>