<div class="toolbar">
  <nav class="menu">
    <!-- <header>Menu <span>×</span></header> -->
    <ol>
      <li class="menu-item"><a href="index.html">Home</a></li>
      <li class="menu-item"><a href="#dishes.html">Dishes</a></li>
      <li class="menu-item"><a href="gallery.html">Gallery</a>
        <!-- <ol class="sub-menu">
          <li class="menu-item"><a href="#0">Dealerships</a></li>
          <li class="menu-item"><a href="#0">Discount</a></li>
          <li class="menu-item"><a href="#0">Huge Sale</a></li>
        </ol> -->
      </li>
      <li class="menu-item"><a href="https://eugene-pavlovskiy.github.io/musikhub/">Music Free</a></li>
    </ol>
    <!-- <footer><button aria-label="Toggle Menu">Toggle</button></footer> -->
  </nav>
  <!-- Разметка переключателя темы -->
  <div class="theme-switch">
    <svg class="theme-switch__icon" role="img" aria-label="Иконка солнца">
      <use href="./images/sprite.svg#sun"></use>
    </svg>

    <div class="theme-switch__control">
      <input
        class="theme-switch__toggle"
        type="checkbox"
        name="theme"
        id="theme-switch-toggle"
        aria-label="Переключить между тёмной и светлой темой"
      />
      <label
        aria-hidden="true"
        class="theme-switch__track"
        for="theme-switch-toggle"
      >
      </label>
      <div aria-hidden="true" class="theme-switch__marker"></div>
    </div>

    <svg class="theme-switch__icon" aria-label="Иконка луны">
      <use href="./images/sprite.svg#moon"></use>
    </svg>
  </div>
</div>